@import '../../styles/mobile';

.navbar {
    :deep(.p-toolbar-group-left) {
        width: 100%;

        .area {
            width: 33.33333%;

            &:first-child {
                text-align: left;
            }

            &:last-child {
                display: flex;
                justify-content: flex-end;
            }
        }

        .hamburger-icon {
            cursor: pointer;
        }
    }
}

.sidebar {
    @include tablet {
        width: 100%;
    }

    .sidebar__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sidebar__headerTitle {
            margin: 10px 0;
        }

        .sidebar__cancelBtn {
            width: 30px;
            height: 30px;
        }
    }

    .sidebar__body {
        a {
            display: inline-block;
            margin: 10px 0;
            width: 100%;
            color: #2c3e50;
            font-weight: bold;
        }

        .router-link-active {
            color: #42b983;
        }
    }
}
