@import 'variables';
@import 'base';

#app {
    padding: 0.5rem;
    min-height: 100vh;
    font-family: $font-family;
    text-align: center;
    color: #2c3e50;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
